/* ubuntu-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* ubuntu-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: "Ubuntu", Arial, sans-serif;
  background-image: url("../img/body_bg/vintage-concrete.png");
  background-color: #E6DAC0; }

.header__contacts {
  text-align: center;
  color: #fff;
  background-image: url("../img/title-left.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.header__about {
  text-align: center;
  color: #000;
  background-image: url("../img/title-right.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.site-navigation {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
  line-height: 2rem; }
  .site-navigation .navbar {
    padding: 0; }
  .site-navigation .nav-link {
    border-radius: 0; }
