/* ubuntu-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* ubuntu-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/ubuntu-v10-latin_cyrillic-ext_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: "Ubuntu", Arial, sans-serif;
  background-image: url("../img/body_bg/retina_wood.png");
  background-color: #ead4b3; }

.bg-semitransparent {
  background-color: rgba(255, 255, 255, 0.4); }

.header__top-row {
  margin-left: -15px;
  margin-right: -15px; }

.header__contacts {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.header__about {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.main-content-index {
  padding-top: 50px; }
  .main-content-index .col-md-4 {
    margin-bottom: 75px; }
  .main-content-index__title {
    min-width: 180px;
    max-width: 240px;
    line-height: 1.4;
    border-radius: .25rem; }
  .main-content-index .btn-primary {
    width: 140px; }

.main-content-production {
  padding-top: 50px; }
  .main-content-production .btn-primary {
    width: 160px; }
  .main-content-production__price-btn.btn-primary {
    width: 230px; }

.map-frame {
  min-height: 400px; }

.site-navigation {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
  line-height: 2rem; }
  .site-navigation .navbar {
    padding: 0; }
  .site-navigation .nav-link {
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease; }
    .site-navigation .nav-link:hover {
      background-color: #007bff; }

.table thead th {
  vertical-align: middle; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  body {
    background-image: url("../img/body_bg/retina_wood_@2X.png"); } }
