main.container.bg-semitransparent.p-4
  p.
    Компания Pictor предлагает производителям мебели услуги по профессиональной покраске и изготовлению мдф фасадов, окраске целиком изделий из мдф, шпона, декоративных элементов из массива и пенополиуретана, любого погонажа: карнизы, багет, профили мдф для рамочных фасадов и т.п.
  p.
    Покраска осуществляется по международным каталогам RAL,NCS и WC полиуретановыми и акриловыми эмалями - на выбор более 4500 цветов. Это специальные мебельные эмали для покраски мдф и массива дерева. Возможна матовая или глянцевая покраска панелей мдф, а также нанесение спецэффектов.
  span Наши преимущества:
  ul.mb-5(type='disk')
    li Высокое качество
    li Гибкая система скидок для постоянных клиентов и больших объемов
    li Индивидуальный подход к каждому клиенту
    li Короткие сроки исполнения заказа
    li Использование высококачественного оборудования и материалов
    li И самое главное – Профессионализм и ответственный подход к работе наших специалистов
