.container.bg-semitransparent.p-4
  p.
    Наш малярный цех предлагает широкий спектр услуг по профессиональной покраске столярных изделий,
    корпусной мебели и других деталей интерьера.
  p.
    Осуществляем покраску различных пород дерева, мдф, дсп, хдф, фанеры, пластика и шпона.
    Работаем с использованием высококачественных материалов и оборудования.
  p.mb-4.
    Выполняем работу любой сложности в короткие сроки по доступным ценам!
    Для постоянных клиентов действует гибкая система скидок.
  span Виды покрасочных работ и цены (цена покрытия за 1 кв.м.):
  ul(type='disk')
    li Матовое плоское от 2000 руб.
    li Матовое с фрезеровкой от 2500 руб.
    li Глянец плоский от 4500 руб.
    li Матовое + патина от 3600 руб.
    li Шпон под лак от 1500 руб.
    li Шпон + тон матовый лак от 2200 руб.
    li Шпон + тон высокий глянец от 4600 руб.
  a.btn.btn-primary.mb-4(href='https://yadi.sk/i/dqgiRV2y3Lqqor') Скачать прайс-лист
  p.
    Выполняем любые спецэффекты : Патина, Тонировка, Глянец Краколет, Декапе, Полировка, Перламутр, Мрамор, Металлический мрамор, Жемчуг, Металлик, Текстурный металлик, Паутинка, Старение. Также возможны различные сочетания спецэффектов (цена варьируется от сложности заказа).
  p Будем рады сотрудничать с Вами!
