main.container.bg-semitransparent.p-4
  h1 Изготовление фрезерованных фасадов
  p.
    У нас вы можете заказать фрезерованные крашенные мебельные фасады из МДФ. Именно крашенные фасады набирают популярность у хозяев квартир и дизайнеров интерьера в последнее время, ведь только у вас теперь нет никаких ограничений по выбору цвета: только у каталога RAL, по которому мы подбираем цвета эмали, есть 700 стандартных вариантов цвета. Также мы  используем и другие каталоги: NCS, WC.
  p.
    Но основной нашей отличительной особенностью является возможность покраски фасада под ваш образец цвета! Это  означает, что теперь вы буквально совсем не ограничены в выборе цвета крашенных фасадов. Вы можете принести  любой образец и наши профессиональные маляры подберут подходящую эмаль для него.
  span 8 плюсов заказа крашенных фасадов именно у нас:
  ol
    li.
      Изготовление фасадов любых размеров. На нестандартные размеры мы не делаем никакой дополнительной наценки. Поэтому именно у нас вы можете заказать крашенные фасады для высоких нестандартных шкафов по цене производителя без наценок. Минимальный размер фасада 30х30 мм, максимальный: 2700х1100 мм.
    li.
      Большой выбор вариантов покраски: глубокий мат, полумат, высокий глянец с полировкой, металлик, кракелюр и любые другие специальные эффекты.
    li.
      Если вам нужно изготовление мебельных фасадов с высоким глянцем и полировкой, то у нас вы найдете лучшие варианты! Наши маляры отлично справляются с изготовлением полированных фасадов МДФ.
    li.
      Высококачественные лакокрасочные материалы.
    li.
      Мы используем эмали, патины и спецэффекты ведущих итальянских производителей: SayerLack, Renner, Milesi. Наша особенность в том, что мы красим лакокрасочными материалами на акриловой основе, благодаря чему фасады будут сохранять свой первоначальный цвет долгие годы.
    li.
      Собственное производство.
    li.
      Каждого порадует возможность обсудить детали изготовления фасадов и внести коррективы в форму и другие параметры мебельных деталей.
    li.
      Изготовление фрезерованных фасадов по вашему образцу или чертежу.
  table.table.table-bordered.table-striped.bg-warning
    caption Цены на изготовление фрезерованных фасадов
    thead
      tr(scope='row')
        th(scope='col') #
        th(scope='col') Виды работ
        th(scope='col') Цена от (рублей за квадратный метр)
    tbody
      tr(scope='row')
        td 1
        td Матовые фасады
        td 4000 &#x20BD;
      tr(scope='row')
        td 2
        td Глянцевые фасады
        td 6000 &#x20BD;
  h2 Примеры фрезерованных фасадов:
  .row.mb-4
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-01.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-02.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-03.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-04.png', alt='Пример фрезерованных фасадов')
  .row
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-05.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-06.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-07.png', alt='Пример фрезерованных фасадов')
    .col-md-3.col-sm-6
      img.img-fluid.rounded.mx-auto.d-block(src='img/mill-08.png', alt='Пример фрезерованных фасадов')
