main.container.main-content-production
  .row
    .col-md-4.mb-5.ml-auto
      a.mb-5.d-block(href='production-flat.html')
        img.img-fluid.rounded.img-thumbnail.mx-auto.d-block(src='img/04.jpg', alt='Плоские')
      a.btn.btn-primary.d-block.mx-auto(href='production-flat.html') Плоские
    .col-md-4.mb-5.mr-auto
      a.mb-5.d-block(href='production-mill.html')
        img.img-fluid.rounded.img-thumbnail.mx-auto.d-block(src='img/05.jpg', alt='Фрезерованные')
      a.btn.btn-primary.d-block.mx-auto(href='production-mill.html') Фрезерованные
  .row
    .col-md-12.mb-5
      a.main-content-production__price-btn.btn.btn-primary.d-block.mx-auto(href='https://yadi.sk/i/dqgiRV2y3Lqqor') Скачать прайс-лист
