main.container.bg-semitransparent.p-4
  p.
    Реставрация — это хорошая возможность продлить жизнь любимому предмету интерьера, обновление дизайна и          красочный мебельный декор. Отреставрированная профессионалами мебель впоследствии может прослужить Вам несколько десятков лет.
  p.
    Компания Pictor предлагает вам услуги по реставрации вашей мебели. Наши специалисты уберут сколы и трещины, изменят или возвратят цвет вашего изделия, обновят и придадут свежий вид для вашей мебели.
