.header {

  &__contacts {
    text-align: center;
    color: #fff;
    background-image: url("../../img/title-left.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__about {
    text-align: center;
    color: #000;
    background-image: url("../../img/title-right.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
