.main-content-index {
  padding-top: 50px;

  & .col-md-4 {
    margin-bottom: 75px;
  }

  &__title {
    min-width: 180px;
    max-width: 240px;
    line-height: 1.4;
    border-radius: .25rem;

  }

  &  .btn-primary {
    width: 140px;
  }
}
